.background{
    background: rgba(63, 64, 69,);
    background: linear-gradient(-45deg, rgba(63, 64, 69, 1) 0%, rgba(37, 38, 43, 1) 100%);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    z-index: -1;
}

.background__text{
    display: none;
}